.feed_post { 
    height: 650px;
    width: 468px;
    border-bottom: 1px solid lightgray;
}

.feed_post_header { 
    background-color: cadetblue;
}

.post_action_bar { 
    margin-top: 8px;
    display: flex; 
    justify-content: space-between;

}

.post_action_bar_left { 
    display: flex; 
    gap: 8px;

}

.post_action_bar_right { 

}

.post_likes_count { 
    margin-top: 8px;
    font-size: 14px; 
    font-weight: 600;
    /* font- */

}

.post_caption { 
    margin-top: 8px;
    display: flex;
    font-size: 14px;
}

.post_caption_username { 
    font-weight: 600; 
    margin-right: 4px;
}

.post_comments { 
    font-size: 14px; 
    margin-top: 6px; 
    color: gray;
}

.post_add_comment { 
    font-size: 14px; 
    margin-top: 8px; 
    color: gray;
}