.top_menu_bar { 
    position: sticky;
    width: 100vw; 
    height: 72px; 
    display: flex; 
    justify-content: space-between;  
    border-bottom: 1px solid gray; 

    /* button { 
        background-color: none;
        border: none; 
    } */
/* 
    input { 
        height: 16px; 
        width: 72px; 
    } */
}