.top_menu_bar { 
    background-color: white;
    position: absolute;
    position: fixed;
    width: 100vw; 
    height: 72px; 
    display: flex; 
    justify-content: space-between;  
    border-bottom: 1px solid rgb(239, 239, 239); 

}

.top_menu_bar_button { 
    background-color: unset;
    border: none; 
    display: flex; 
    align-items: center;
}

.top_menu_bar_search { 
    background-color: rgb(239, 239, 239);
    display: flex;
    width: 269px; 
    height:36px;
    border-radius: 8px;
    align-items: center;
    padding-left: 8px;
    
}

.top_menu_bar_search_input { 
    border: none; 
    background-color: unset;
    font-size: 15px;
    font-weight: 400;
    color: rgb(115, 115, 115);
    padding-left: 8px;
  
   
}

.top_menu_bar_right { 
    display: flex; 
    align-items: center;
}